<mat-dialog-content>
    <form [formGroup]="categoryForm" (ngSubmit)="createCategory()">
        <p>Add category</p>
        <input
            formControlName="description"
            type="text"
            placeholder="name"
            >
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <!-- <button id="close-btn" mat-button mat-dialog-close matTooltip="Cancel">
    </button> -->

    <button type="submit" id="edit-btn" mat-button (click)="createCategory()" matTooltip="Create">
        Create
    </button>
    
</mat-dialog-actions>